.container {
    perspective: 1000px;
}

.itachi {
    zoom: 0.8;
    position: relative;
    opacity: .9;
    width: 1064px;
    height: 798px;
    /* background-image: url(../../../assets/eye-active.png); */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.eyeWhite {
    position: absolute;
    background-color: #fff;
    background-repeat: no-repeat;
    overflow: hidden;
}

.eyeWhiteLeft {
    width: 226px;
    height: 78px;
    left: 192px;
    top: 378px;
    mask: url(../../../assets/eye-left.svg);
}

.eyeWhiteRight {
    width: 218px;
    height: 72px;
    right: 218px;
    top: 381px;
    mask: url(../../../assets/eye-right.svg);
}

.eye {
    position: absolute;
    background: #000;
    height: 100px;
    width: 100px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .5s;
}

.eyeSharingan {
    background: radial-gradient(50% 50% at 50% 50%, #FF0000 0%, #9A0000 83.82%, #000000 100%);
}

.eyeRinengan {
    background-image: url(../../../assets/rinengan.svg);
    height: 400px;
    width: 400px;
    transform: translate(-300px, -300px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.eyeInnerLine {
    position: relative;
    height: 55px;
    width: 55px;
    border-radius: 55px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 15s linear 0s infinite;
}

.eyeInner {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 20px;
}

.eyeLeft {
    bottom: 10px;
    left: 50px;
}

.eyeRight {
    bottom: 10px;
    right: 70px;
}

.eyeTamoe {
    position: absolute;
    width: 13px;
    height: 18px;
    background-color: #000;
    mask: url(../../../assets/tamoe.svg);
}

.eyeTamoeLeft {
    bottom: 3px;
    left: -5px;
    transform: rotate(93deg);
}

.eyeTamoeRight {
    bottom: 9px;
    right: -8px;
    transform: rotate(-45deg);
}

.eyeTamoeTop {
    top: -12px;
    transform: rotate(207deg);
}